.site-init{
    background-color: #ffcc00;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    font-size: larger;
}


.grid-two-column{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
