
img{
    max-width: 50%;
}

.fixed{
    background-color: #FFF8E7;
    margin: auto;
    border-radius: 10px;
    border: 2px solid black;
    margin-left: 1%;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}


.nav-bar h1{
    font-weight: 800;
}

.nav-bar{
    justify-content: space-around;
}

.images-fixed{
    width: 100%;
    padding-left: 10%;
}

.grid-two-column{
    display: flex;
}
