header{
    background-color: #ffcc00;
    margin: auto;
    padding-bottom: 2%;
}


.header-Register{
    display: flex;
    justify-content: space-around;
    font-size: larger;
}

.header-Register h1, h2{
    font-weight: 800;
}

.register-container{
    background-image: url('../img/background-image-register.avif');
    background-size: contain;
    background-attachment: fixed;
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    width: auto;
    border: 3px solid black;
    background-color: #FFF8E7;
    margin-right: 3%;
    margin-left: 3%;
    margin-top: 1%;
    border-radius: 30px;
}

.form-group, .form-group-gender{
    margin-top: 15px;
    margin-bottom: 15px;
}
.form-group{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.form-group input, .form-group select{
    text-align: center;
    width: 70%;
}

.form-group-gender{
    text-align: center;
}

.form-group-gender img{
    width: 2%;
}

.form-group-gender input{
    margin-left: 15px;
    margin-right: 15px;
}

input, select{
    border-radius: 50px;
}

.adjust{
    margin-top: 1%;
    margin-bottom: 1%;
    padding-bottom: 1%;
    border: 5px double black;
    border-radius: 10px;
    width: 50%;
    background-color: #FFF8E7;
}

#pets{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 10px;
    row-gap: 10px;
}

.pet{
    background-color: #dedede;
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
}

.gromming{
    background-color: lightblue;
}

.vaccines{
    background-color: lightgreen;
}

.nails{
    background-color: rgb(206, 106, 206);
}

table tr, table th, table td{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

.Button-container button{
    width: 20%;
}

table{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-bottom: 5%;
}

.thBckgr{
    background-color: #ffcc00;
}

.total-pets{
    font-weight: 800;
    text-align: center;
}

.error{
    background-color: rgb(243, 139, 139);
    border: 1px solid rgb(243, 139, 139);
}