
.new-service-container{
    margin-top: 7%;
    display: flex;
    justify-content: center;
    text-align: center;
}

h2{
    text-align: center;
    border-bottom: 2px solid black;
}

#txtPrice{
    color: green;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}